<!DOCTYPE html>
<html>
  <head>
    <title>Centsible</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name %>">
    <% if alert %>
      <p class="notice error" data-dismiss>
        <%= alert %>
        <span onclick="dismiss()">&times;</span>
      </p>
    <% end %>
    <% if notice %>
      <p class="notice info" data-dismiss>
        <%= notice %>
        <span onclick="dismiss()">&times;</span>
      </p>
    <% end %>

    <main>
      <aside role="sidebar">
        <header>
          <h1>
            <%= link_to root_path do %>
              &cent;entsible
              <span>budget</span>
            <% end %>
          </h1>
        </header>
        <nav role="nav">
          <%= link_to "Dashboard", dashboard_path %>
          <%#= link_to "Transactions", "#" %>
          <%#= link_to "Timeline", "#" %>
          <header>Settings</header>
          <%= link_to "Spending Categories", categories_path,
            class: "#{'active' if request.path == '/categories' }" %>
          <%= link_to "Profile", edit_user_registration_path,
            class: "#{'active' if request.path == edit_user_registration_path || request.path == user_registration_path}" %>
          <%#= link_to "Notifications", "#" %>

          <%# this absolutely needs to be at the bottom to style correctly %>
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
          <% end %>
        </nav>
      </aside>
      <%= yield %>
    </main>
  </body>
</html>
